.testHover:hover{
    color: #02b875;
   scale: 1.2;
}
.testHover{
    transition: .7s ;
    
}

.svgBurger {
    background-image: url("../../assets/list.svg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar.bg-light {
    background-color: #fff!important;
    border: 5px solid rgba(255, 0, 0, 0.1);
}